<div>
<body>
<center>
  <h1>"We dive not to escape life but for life not to escape us"</h1>
  <h3>Dive Plan Link</h3>
</center>

<div></div>
  <% @sites.each do |site| %>
      <%= link_to "#{site.name}", sites_path(site) %>
  <% end %>


</body>
</div>
